<div id="background" class="img-fluid">

  <p>
    <mat-toolbar color="primary" id="navbar">

      <a href=""><img src="../../assets/libro.png" alt="" id="logo"> </a>
      <a href="" id="navboton"> Web de Reclamos </a>
      <span class="example-spacer"></span>
      <a href="/login" id="navboton"> Ingresa</a>
      <a href="/registro" id="navboton"> Regístrate </a>
      <a href="" id="navboton"> Nosotros </a>
    </mat-toolbar>
  </p>



  <div class="row justify-content-md-center" id="Titulo">
    <div class="col-2"></div>
    <div class="col-md-auto">
      <H1>¿Tuviste algún problema o una sugerencia?</H1>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-2"></div>
    <div class="col-md-auto">
      <h2>Cuéntanos para ayudarte.</h2>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-2"></div>
    <div class="col-md-auto">
      <h3>¡Tu opinión nos importa!</h3>
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <br>
  <div class="row justify-content-md-center ">
    <div class="col-2"></div>
    <div class="col-2"> <h6>¿Desea Registrarse?</h6></div>
    <div class="col-4"></div>
    <div class="col-1"></div>
    <div class="col-3"><h6> ¿Ya tienes cuenta? </h6></div>


  </div>



  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"> <button id="b1" class="btn btn-secondary"
        onclick="window.location.href='/registro'">Regístrate</button></div>
    <div class="col-4"></div>
    <div class="col-1"></div>
    <div class="col-3"> <button id="b2" class="btn btn-secondary" onclick="window.location.href='/login'">Inicia sesión
      </button></div>
  </div>

</div>